/*----------font-----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

body{
    margin: 0;
}
/* container1 */
.container{
    background-color: #2D25A0 ;
    display:flex;
  padding: 5%;
    justify-content: space-around;
    align-items: center;

}
.part2:hover{
    transform: rotate(30deg);
    transition-duration: 2s;


}
.text{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    width: 500px;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top:10px ;

}
.text:hover{
    color:lightskyblue;
    transform:scale(1.1);
}
.text2{
    width: 100px;
    background-color:#E02C6D ;
    color: #FFFFFF;
    padding: 5px;
}
.fas{
    color: white;
}
.imag{
    width: 556px;
    height: 438px;

}
/* container2  */


.container2{
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 30px;
}

/* container 3 */

.container3{
    background-color:#FFFFFF ;
    display:flex;
  padding: 5%;
    justify-content: space-around;
    align-items: center;
}
.text3{
   width: 500px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    margin-bottom: 0;
    margin-top:10px ;
}
 p{
    width: 400px;
}
/* player start */

.all-players{
        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 45px;
        margin-left: 135px;
        margin-right: 210px;
} 
.players{
    height: 456px;
    width: 330px;
   margin-left: 2%;
   box-shadow: 0px 0px 40px gray;
}
.player{
width: 300px;
height: 426px;
padding: 4%;
}
.player .player-pic img{
    width: 300px;
    height: 256px;

}
.player-info{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}
/* player end  */


/* footer */

footer{
    
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 60px;
    /* text-align: center; */
    align-items: center; 
}
.footer img{
  
    height: 150px;
    width: 400px;   
}
.footer-text{
    padding-left: 250px;
  
}
.fab{
    padding-right: 9px;
    color:gray;
}
/* footer end  */

/* media quaery */
/* mobile-device */
@media only screen and (max-width:688px) {
    .container{
        width:100%;
        display: block;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }
    .all-players{
        grid-template-columns: repeat(1, 1fr);
    }
     .container2{
        flex-direction:column;
    
     }
     .container3{
         display: grid;
        grid-template-columns: repeat(1, 1fr);
       margin-left: 0px;
    }
    .text3{
        width: 100%;
         font-family: 'Poppins', sans-serif;
         font-size: 50px;
         margin-bottom: 0;
         margin-top:10px ;
         padding-left: 90px;
     }
     .para{
        width: 100%;
         font-family: 'Poppins', sans-serif;
       
       
         
         
     }
}

/* tablet device */
@media only screen  and (min-width:688px)and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players{ 
        grid-template-columns: repeat(2, 1fr);
    }

}