/*----------font-----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

/* base style */
body{
    margin: 0;
}
.container{
    background-color: #2D25A0 ;
    /* height: 677px; */
    /* width:100%; */
    display:flex;
  padding: 5%;
    justify-content: space-around;
    align-items: center;
   


}

/* .part1{
  margin-top: 207px;
  width: 485px;

} */
.part2:hover{
    transform: rotate(30deg);
    transition-duration: 2s;


}
.text{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top:10px ;
}
.text:hover{
    color:lightskyblue;
    transform:scale(1.1);
}
.text2{
    width: 100px;
    /* height:44px; */
    background-color:#E02C6D ;
    color: #FFFFFF;
    padding: 5px;
}
.fas{
    color: white;
}
/* .text2 span:hover{
    
    transform:scale(1.2);
} */

.imag{
    width: 556px;
    height: 438px;
    /* padding-top: 100px; */

}
.container2{
    background-color: #FFFFFF;
    width: 100%;
    padding-top: 30px;
}

.container3{
    background-color:#FFFFFF ;
    /* height: 677px; */
    /* width:100%; */
    display:flex;
  padding: 5%;
    justify-content: space-around;
    align-items: center;


}
.text3{
   width: 500px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    /* color: #FFFFFF; */
    margin-bottom: 0;
    margin-top:10px ;
}
 p{
    width: 400px;
}

    /* player-information */

    .all-players{
        /* width: 50%;
        padding-left: 100px; */
        /* padding: 0 400px; */

        display: grid;
        grid-template-columns:repeat(3, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 45px;
        margin-left: 135px;
        margin-right: 210px;
        /* align-items: center; */
        
        

}
  
   

.players{
    height: 456px;
    width: 330px;
   margin-left: 2%;
   box-shadow: 0px 0px 40px gray;
  
   /* box-shadow: 5px 5px 10px gray; */
}
.player{
width: 300px;
height: 426px;
padding: 4%;

}

.player .player-pic img{
    width: 300px;
    height: 256px;

}
.player-info{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}
/* footer */

footer{
    
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-bottom: 60px;
    /* text-align: center; */
    align-items: center; 
}
.footer img{
  
    height: 150px;
    width: 400px;
     
}
/* .icon{
    background-color: red;
    color: blue;
} */
.fab{
    padding-right: 9px;
    color:gray;
}





